.Title {
  color: #1976D2; 
}

.Sub-Title {
  color: #4CAF50; 
}

body {
  background-color: #e0f7fa;
}

.App {
  background-color: #e0f7fa;
  text-align: center; 
}

.white-text {
  color: white;
}

.white-button {
  background-color: white;
  color: black;
}

.black-button {
  background-color: black;
  color: white;
}

.beige-button {
  background-color: beige;
  color: black;
}

.brown-button {
  background-color: brown;
  color: white;
}